doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Join Banked's Slack Community
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body
    h1 Banked :
    h2 Enter your email to receive an invite to Banked's Slack community
    .content
      form(method="POST", action="invite")#join-form.form
        input(type="email", name="email", autofocus, placeholder=__('ENTER_EMAIL'))#slack-email.field
        if tokenRequired
          input(type="text", name="token", placeholder=__('ENTER_TOKEN'))#slack-token.field
        input(type="submit", value="Join").submit
        if !!recaptchaSiteKey
          div(class="g-recaptcha", data-sitekey=recaptchaSiteKey)
    .footer
      a(href='https://developer.banked.com') &larr; Back to the Banked developer portal

    if !!recaptchaSiteKey
       script(src='https://www.google.com/recaptcha/api.js')
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
        var recaptcha = document.getElementById('g-recaptcha-response');
        if (recaptcha && recaptcha.value === '') {
          evt.preventDefault();
        }
      });
